@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}

title,
.different-text {
  font-family: "Alkatra", cursive;
}

.App {
  scrollbar-width: thin;
  background-image: url("./assets/background.png");
}

span {
  text-decoration: underline;
}
